

set -euo pipefail

export BW_SESSION="$(bw unlock --raw)"


FILE=output
bw get item bootiful-workshop-demo-key --raw > $FILE
export SAAS_PASSWORD="$(cat $FILE | jq -r '.fields[] | select(.name == "password") | .value'  )"
rm $FILE
echo $SAAS_PASSWORD